<h1>
    Users List
</h1>
<% if @users.any? %>
    <div>
        <% @users.each do |user| %>
            <%= render 'shared/user', user: user %>
        <% end %>
    </div>
<% else %>
    <p>
        No users yet.
    </p>
<% end %>
<div>
    <h3>
        Add a new user
    </h3>
    <%= link_to 'New User', ('/users/sign_up') %>
</div>
<div>
    <h3>
        Sign in
    </h3>
    <%= link_to 'Sign in', ('/users/sign_in') %>
</div>